/logs
features_test.csv
features.csv
final_output_test.csv
nohup.out
output_document_test.csv
output_document.csv
output_rank_test.csv
output_rank.csv
output10.csvoutput10_test.csv
predictions_test.txt
predictions_train.txt
set1.test.txt
set1.train.txt
svm_rank_classify
svm_rank_learn
test_filtered.txt
test_real_tensor.pkl
test_score_tensor.pkl
test_tensor.pkl
train_filtered.txt
train_loss_values.pkl
train_real_tensor_60_40.pkl
train_sampled_ordered.txt
train_score_tensor_60_40.pkl
train_tensor_60_40.pkl
prod_rank.model